body {
  background: #1D1B26;
}
.h1-txt{
  display: flex;
  justify-content: center;
}
.button--{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.sliding-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 75px 150px;
  border: 2px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

 /*низ*/
.footer-text{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
/*  margin: 10px 0 5px 20px;*/ 
  font-size: 18px;
/*  text-shadow: rgb(34, 163, 249) -0.5px -0.5px;*/
  padding-left: 0px;

}
.footer-info{
  text-align: center; 
  display: flex;
  flex-direction: column;
  position:fixed;
  bottom:0;
  width:100%;
  padding-left: 0px;
  list-style: none;
  justify-content: flex-start;
 }

